#input-selection {
  background-color: #ccaacc;
}

.box {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}

.solutions {
  background-color: #aacccc;
}

textarea {
  width: 100%;
}

nav ul { display: flex; flex-wrap: wrap; list-style-type: none;}
nav li { padding: 0.25rem; }
